body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}
:root {
  scroll-behavior: smooth;
}

.stickyActive{
  background: rgba(150, 180, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
}